<!doctype html>
<html>
<head>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Home</title>
</head>
<body>
  <ul>
		<li><a class="active" href="{{ url_for('home')}}">Home Page</a></li>
    <li><a href="{{ url_for('InsertText')}}">Insert Text</a></li>
    <li style="float: right;"><a href="https://github.com/cwilbar04/spark-container">Github</a></li>

	</ul>
  
  <br><br><br><br>

  <h1>Welcome to my Sentiment Analysis Home Page!</h1>

  <h3>Choose an option to get started:</h3>

  <br><br><br>

  <form method="POST" action="/">
    <button type="button" name="Insert Text" value="Insert Text" onclick="window.location.href='{{url_for('InsertText')}}';"> Insert Text for Analysis</button>
  </form>

   <br><br><br>

   </form>


   <br><br><br><br>
   <p>Code developed by: Christopher Wilbar
      - Click on Github in top right for all source code</p>
  
</body>
</html>