<!doctype html>
<html>
<head>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Home</title>
</head>
<body>
  <ul>
    <li><a href="{{ url_for('home')}}">Home Page</a></li>
    <li><a class="active" href="{{ url_for('InsertText')}}">Insert Text</a></li>
    <li style="float: right;"><a href="https://github.com/cwilbar04/spark-container">Github</a></li>
	</ul>
  
  <br><br><br><br>

  <h1>Insert Short Text Below for Sentiment Analysis!</h1>

  <br><br><br>

  <form action="/InsertText" method = "POST">
      <p>Insert Text <input type = "text" name = "Text_Input" /></p>
      <p><input type = "submit" value = "submit" /></p>
  </form>


   <br><br><br><br>
   <p>Code developed by: Christopher Wilbar
      - Click on Github in top right for all source code</p>
  
</body>
</html>